<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="~/Content/css/AdminPanel.css" />
</head>
<body>
    <div class="container">

    <a class=" btn glow-on-hover" href="/admin/categories">مدیریت گروه های خبری </a>
    <a class=" btn  glow-on-hover " href="/admin/news">مدیریت خبر ها </a>
    </div>
</body>
</html>