
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/ErrorStyle.css" />
    <title>OooPs!!!</title>
</head>
<body>
    <div>
        <center>
            <div class="container">
                <img src="/ErrorImg/404.png" alt="Error404-PageNotFound" style="width:100%;" />
                <div class="text-block">
                    <h4>خطا</h4>
                    <p>!!!صفحه مورد نظر یافت نشد</p>
                </div>
            </div>
        </center>

    </div>
</body>
</html>
